
/* Делаем затемнение заднего плана */
.back-dialog{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
}
/* Позиционируем блок с контентом */
.dialog-content{
    position: absolute;
    top: 30%;
    left: 30%;
    overflow: hidden;
    overflow-y: auto;
    width: 600px;
    min-width:200px;
    max-width:600px;
    min-height: 150px;
    max-height: 600px;

}

.dialog-content p {
    text-align: left;
    margin-left: 1em;
    color: black;
}
/* Позиционируем верхний бар */
.dialog-title{
    text-align: center;
    position: relative;
    vertical-align: middle;
    height: 40px;
    color: #fff;
}

.dialog-content-client {
    background-color: #ceeaf5;
}

.dialog-title-client {
    background-color: #3498DB;
}

.dialog-content-man {
    background-color: #c6fccc;
}

.dialog-title-man {
    background-color: #33bf36;
}

.dialog-title span{
    font-size: 25px;
    padding-left: 10px;
}
/* Делаем кнопку закрытия окна */
.close-dialog{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #fff;
    height: 40px;
    width: 40px;
    border:0;
    text-decoration: none;
}

.close-dialog-client {
    background-color: #2574A9;
}

.close-dialog-man {
    background-color: #18a81a;
}

a.close-dialog:hover{
    text-decoration: none;
    background-color: #e2b66a;
    color: #2f58ff;
}

.close-dialog:before{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    content: "x";
    font-size: 20px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    outline: none;
}
