<div class="back-dialog" id="client_dialog">
	<!-- Блок с нашим контентом -->
	<div class="dialog-content dialog-content-client">
		<div class="dialog-title dialog-title-client">
			<span id="title">Название компании</span>
			<a class='close-dialog close-dialog-client' href='javascript: closeClientInfo()'></a>
		</div>
		<p id="company_name">Название компании клиента: </p>
		<p id="inn">Инн клиента: </p>
		<p id="address">Адрес клиента: </p>
		<p id="client_email">Электронная почта клиента: </p>
		<p id="client_tel">Телефон клиента: </p>
	</div>
</div>

<div class="back-dialog" id="manager_dialog">
	<!-- Блок с нашим контентом -->
	<div class="dialog-content dialog-content-man">
		<div class="dialog-title dialog-title-man">
			<span id="title">ФИО менеджера</span>
			<a class='close-dialog close-dialog-man' href='javascript: closeManagerInfo()'></a>
		</div>
		<p id="surname">Фамилия менеджера: </p>
		<p id="name">Имя менеджера: </p>
		<p id="man_email">Электронная почта менеджера: </p>
		<p id="man_tel">Телефон менеджера: </p>
	</div>
</div>